@page "/learnblazor/parentcomponent"

<h3 class="text-success"> Parent Child Relation</h3>

<_ChildComponent Title="This title is passed as parameter from parent component" ButtonClickToShowMessageHandler="ShowMessage">
	<DangerChildContent>Danger content from parent</DangerChildContent>
	<ChildContent>Render fragment from parent</ChildContent>
</_ChildComponent>

<p><b>@messageText</b></p>

@code {
	public string messageText = string.Empty;

	private void ShowMessage()
	{
		messageText = "Tangy button clicked from child component";
	}

}
